<div class="thumbnail price">
    <input type="text" value="keyword" class="search-bar" [(ngModel)]="keyword" (keyup.enter)="search()" > 
    <button [disabled]="!keyword" (click)="search()" class="btn btn-md btn-success">Search</button>
    <span class="smallCart">Total Items:<span class="badge">{{ totalQuantity }}</span> Total Price: ${{ totalPrice }}</span>
</div>
<div class="row">
    <div *ngFor="let product of products">
        <div class="col-xs-4 padding-10">
            <md-card class="card-container-phone">
                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title>
                        <span class="badge">{{product.category}}</span> <strong>{{product.name}}</strong>
                    </md-card-title>
                </md-card-header>

                <img width="220" height="220" class="image-align-center padding-bottom-10" src={{product.scr}} />
                <md-card-content>
                    <p>{{product.info}}</p>
                </md-card-content>
                <md-card-actions>
                    <div style="display: flex">
                        <span class="padding-right-5">Quantity: </span>
                        <input type="number" value="1" #quantity>
                    </div>
                    <h1 class="badge">${{product.price}}</h1>
                    <button (click)="addToCarts(quantity.value, product)" class="btn btn-sm btn-primary">Add to Cart</button>
                    <button (click)="clickedProduct(product)" class="btn btn-sm btn-success">Details</button>
                </md-card-actions>
            </md-card>  
        </div>
    </div>
</div>
<div *ngIf="check">
        <button (click)="goBack()" class="btn btn-danger">Back</button>
</div>